version: "3.9"

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.email=admin@craveezone.ink"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    networks:
      - traefik_default

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - NEON_DB_URL=${DB_URL:-}
      - ENVIRONMENT=production
      - FRONTEND_URL=${FRONTEND_URL}
    volumes:
      - ./backend/best_model.pt:/app/best_model.pt:ro
    restart: unless-stopped
    networks:
      - traefik_default

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - BACKEND_API_URL=http://backend:8800
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - traefik_default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_default
      - traefik.http.routers.frontend.rule=Host(`khmer.nonameportal.online`)
      - traefik.http.routers.frontend.entrypoints=websecure
      - traefik.http.routers.frontend.tls.certresolver=letsencrypt
      - traefik.http.services.frontend.loadbalancer.server.port=3300

networks:
  traefik_default:
    external: true
